

# MongoDB Atlas - Votre chaîne de connexion
MONGO_URI=mongodb+srv://yasserberrada771:Ddouae2005@cluster0.vnjvl.mongodb.net/pathmind?retryWrites=true&w=majority&appName=Cluster0

# URL du frontend (pour CORS)
FRONTEND_URL=http://localhost:5173

# Port (géré automatiquement par Render en production)
PORT=8000
