# Backend Python - FastAPI + WebSocket
# Backend Python - FastAPI + WebSocket
fastapi>=0.104.0
uvicorn[standard]>=0.24.0
websockets>=12.0
python-multipart>=0.0.6
pydantic>=2.5.0

# MongoDB
motor>=3.3.0
pymongo>=4.6.0

# Génération de niveaux
numpy>=1.26.0

# Utilitaires
python-dotenv>=1.0.0